<?php
	$MYSQL_HOSTNAME = "MYSQL HOSTNAME";
	$MYSQL_USERNAME = "MYSQL USERNAME";
	$MYSQL_PASSWORD = "MYSQL PASSWORD";
	$MYSQL_DATABASE = "MYSQL DATABASE";

	$XBMC_USERNAME = "XBMC USERNAME";
	$XBMC_PASSWORD = "XBMC PASSWORD";
	$XBMC_HOST = "XBMC HOST";
	$XBMC_PORT = "XBMC PORT";
?>
